.user__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}
.user__header {
  grid-column: 1 / span 2;
}
.user__photo {
  width: 100%
}

.followers__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-gap: 3em;
  text-align: center;
}